<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>armando gonzalez sosto</title>
</head>
<body>
    <div>
        <h1 class="text-4xl p-4"><a href="/">armando gonzalez sosto</a></h1>
        <div class="px-4 pb-4">
            <span>
                <a href="/music">music</a>
            </span>
            <span>
                <a href="/studio">studio</a>
            </span>
            <span>
                <a href="/code">code</a>
            </span>
            <span>
                <a href="/projects">projects</a>
            </span>
        </div>
    </div>
    <div class="p-4">
        {{ content|safe }}
    </div>
</body>
</html>